.search_section.list-group-item(ng-repeat="item in sub")
  %button.btn.btn-default.btn-sm(ng-class="'item-box-' + (item.type || 'untyped')" ng-click="add_group(item)")
    {{item.name}}
  .search_section_content(ng-if="item.sub && item.sub.length > 0")
    .search_section_item(ng-include="'category_tree.html'" ng-init="sub = item.sub")
