.search_section.list-group-item(ng-repeat="group in groups")
  %div(class="group-box-{{group.type}}")
    {{group.name}}
  .search_section_content(ng-if="group.sub && group.sub.length > 0")
    .search_section_item(ng-include="'category_tree.html'" ng-init="groups = group.sub")
