.container(ng-controller="HomeController")
  %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header.pull-left
        %a.navbar-brand(href="#")
          =image_tag "logo.png", height: '20'
          Refinder
  #main
    .row
      .col-sm-6
        #first_page_title.search_tips.list-group
          .list-group-item
            %button.btn.btn-default.btn-sm(type="button" ng-repeat="cat in criteria.selected_categories" ng-click="unselect_category($index)")
              {{cat}}
              %span.glyphicon.glyphicon-remove(aria-hidden="true")
            .search_input
              %input#search_control.form-control(type="search" placeholder="Search" ng-change="handle_search_criteria_change()" ng-model="criteria.text" ng-focus="input_focus_changed($event)")
              %span.glyphicon.glyphicon-search(ng-click="handle_search_button_click()")
            %script.category-tree(type="text/ng-template")

            .search_section.list-group-item(ng-if="showtips && !criteria.criteria_text")
            %div
              %p
                Search by entering car manufacturer, model, year of manufacturing, category
                or some text from the product, for instance: "opel astra 1999 jarrupalat".
                Tips will show when you enter at least 3 characters of each word.
            .search_section.list-group-item(ng-init="categories = result_info.categories" ng-include="'category_tree.html'")
      .col-sm-6
        %h1#second_page_title Result!
        %p This page should show the results
