.container
  %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      -# Title
      .navbar-header.pull-left
        %a.navbar-brand(href="#")
          =image_tag "logo.png", height: '20'
          Refinder
  #main
    .row
      .col-sm-6
        %h1 Now we are loaded!
        %p You are looking at the text that was placed here by the angular app!
      .col-sm-6
        %h1 Doubling!
        %p And we are in two columns