.container(ng-controller="HomeController")
  %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header.pull-left
        %a.navbar-brand(href="#")
          =image_tag "logo.png", height: '20'
          Refinder
  #main
    .row
      .col-sm-6
        #first_page_title.search_tips.list-group
          .search_criteria_container.list-group-item
            %button.btn.btn-default.btn-xs.selected_criteria(search-item type="button" ng-repeat="item in criteria.selected_groups" ng-click="unselect_group($index)")
              {{item.name_selected || item.name}}
              %span.glyphicon.glyphicon-remove(aria-hidden="true")
            .search_input
              %input#search_control.search_text_box(type="search" placeholder="Search" ng-change="handle_search_criteria_change()" ng-model="criteria.text" ng-focus="input_focus_changed($event)")
            %span.glyphicon.glyphicon-search(ng-click="handle_search_button_click()")
          -#.search_section.list-group-item(ng-if="showtips && !criteria.text")
            %div
              %p
                Start type what you are searching for: your car model, product category 
                or product name.
          .search_section(ng-init="sub = result_info.groups" ng-include="'category_tree.html'" ng-if="result_info.groups")
      .col-sm-6
        #search_results.list-group
          .search_result.list-group-item(ng-repeat="product in result_info.products | limitTo:10")
            .row
              .col-sm-6
                %a(href="{{product.url}}" target="_blank")
                  %h3 {{product.name}}
                %p
                  %strong Price:
                  %span {{product.price}}
              .col-sm-2 
              .col-sm-4 
                %img.product_img(src="http://images.biltema.com/PAXToImageService.svc/product/small/20000{{product.image_id}}" alt="{{product.name}}")
            
