.container(ng-controller="HomeController")
  %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header.pull-left
        %a.navbar-brand(href="#")
          =image_tag "logo.png", height: '20'
          Refinder
  #main
    .row
      .col-sm-6
        #first_page_title.search_tips.list-group
          .search_criteria_container.list-group-item
            %button.btn.btn-default.btn-xs.selected_criteria(search-item type="button" ng-repeat="item in criteria.selected_groups" ng-click="unselect_group($index)")
              {{item.name_selected || item.name}}
              %span.glyphicon.glyphicon-remove(aria-hidden="true")
            .search_input
              %input#search_control.search_text_box(type="search" placeholder="Search" ng-change="handle_search_criteria_change()" ng-model="criteria.text" ng-focus="input_focus_changed($event)")
            %span.glyphicon.glyphicon-search(ng-click="handle_search_button_click()")
          %span.list-group-item.tip-container(ng-repeat="item in result_info.groups" ng-if="!hide_tips")
            %h4.list-group-item-heading.tip-header
              {{item.name}}:
            %button.btn.btn-default.btn-xs.tip_button(search-item ng-click="add_group(sub)" ng-repeat="sub in item.sub")
              {{sub.name}}
            %span.glyphicon.glyphicon-remove(ng-click="clear_search()" ng-if="$index == 0")
      .col-sm-6
        #search_results.list-group
          .search_result.list-group-item(ng-repeat="product in result_info.products | limitTo:10")
            .row
              .col-sm-6
                %a(href="{{product.url}}" target="_blank")
                  %h3 {{product.name}}
                %p
                  %strong Price:
                  %span {{product.price}}
              .col-sm-2 
              .col-sm-4 
                %img.product_img(src="http://images.biltema.com/PAXToImageService.svc/product/small/20000{{product.image_id}}" alt="{{product.name}}")
            
