/*
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "zwr";

#first_page_title, #search_results {
  margin-top: 30px;
}

.search_input, .search_tips {
  position: relative;
}

.search_input > .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 14px;
}

.search_tips {
  border: 1px blue;
}

.search_section_name {
  margin-bottom: 4px;
}