%p#notice= notice

%h1 Category: #{@category.name}

%p
  -if @category.parent
    %string Parent category:
    %span=link_to @category.parent.name, @category.parent
  -else
    %strong This is a top level category

-if not @category.children.empty?
  %p
    %strong Subcategories:
  -@category.children.each do |subcat|
    %p
      =link_to subcat.name, subcat
    -subcat.children.each do |subsubcat|
      %p(style="padding-left: 20px;")
        =link_to subsubcat.name, subsubcat
-else
  %p
    %strong This category has no subcategories

-if not @category.products.empty?
  %p
    %strong Products:
  -@category.products.each do |prod|
    %p
      =link_to prod.name, prod
-else
  %p
    %strong This category has no products

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
